In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import dataset 
testDataset = pd.read_csv('test.csv')
trainDataset = pd.read_csv('train.csv')

In [3]:
print(" The Non diabetes count :" + str(len(data[trainDatasetdata['margin7'].values==0])))

NameError: name 'data' is not defined

In [3]:
trainDataset.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [4]:
#Checking different categories 
trainDataset.groupby('species').size()

species
Acer_Capillipes                 10
Acer_Circinatum                 10
Acer_Mono                       10
Acer_Opalus                     10
Acer_Palmatum                   10
Acer_Pictum                     10
Acer_Platanoids                 10
Acer_Rubrum                     10
Acer_Rufinerve                  10
Acer_Saccharinum                10
Alnus_Cordata                   10
Alnus_Maximowiczii              10
Alnus_Rubra                     10
Alnus_Sieboldiana               10
Alnus_Viridis                   10
Arundinaria_Simonii             10
Betula_Austrosinensis           10
Betula_Pendula                  10
Callicarpa_Bodinieri            10
Castanea_Sativa                 10
Celtis_Koraiensis               10
Cercis_Siliquastrum             10
Cornus_Chinensis                10
Cornus_Controversa              10
Cornus_Macrophylla              10
Cotinus_Coggygria               10
Crataegus_Monogyna              10
Cytisus_Battandieri             10
Eucalyptus_Glaucescens          10
Eucalyptus_Neglecta             10
                                ..
Quercus_Kewensis                10
Quercus_Nigra                   10
Quercus_Palustris               10
Quercus_Phellos                 10
Quercus_Phillyraeoides          10
Quercus_Pontica                 10
Quercus_Pubescens               10
Quercus_Pyrenaica               10
Quercus_Rhysophylla             10
Quercus_Rubra                   10
Quercus_Semecarpifolia          10
Quercus_Shumardii               10
Quercus_Suber                   10
Quercus_Texana                  10
Quercus_Trojana                 10
Quercus_Variabilis              10
Quercus_Vulcanica               10
Quercus_x_Hispanica             10
Quercus_x_Turneri               10
Rhododendron_x_Russellianum     10
Salix_Fragilis                  10
Salix_Intergra                  10
Sorbus_Aria                     10
Tilia_Oliveri                   10
Tilia_Platyphyllos              10
Tilia_Tomentosa                 10
Ulmus_Bergmanniana              10
Viburnum_Tinus                  10
Viburnum_x_Rhytidophylloides    10
Zelkova_Serrata                 10
Length: 99, dtype: int64

Label Encoding

In [5]:
trainDataset['species'] = trainDataset['species'].astype('category')
trainDataset['species'] = trainDataset['species'].cat.codes

Selcet x and y for trainDataset

In [6]:
x = trainDataset.iloc[:,2:195].values

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [8]:
y = trainDataset.iloc[:,1:2].values

Train and Test Split

In [9]:
from sklearn.model_selection import train_test_split
xTrain, xTest, yTrain, yTest = train_test_split(x,y, test_size=0.2)

# Model Training

Naive Bayes

In [10]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, accuracy_score
nb = GaussianNB()
nb.fit(xTrain,yTrain)
yPred = nb.predict(xTest)
cm = confusion_matrix(yTest,yPred)
print('accuracy %s' % accuracy_score(yTest, yPred))

accuracy 0.48484848484848486

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Decision Tree

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(xTrain,yTrain)
yPred = dt.predict(xTest)
cm = confusion_matrix(yTest,yPred)
print('accuracy %s' % accuracy_score(yTest, yPred))

accuracy 0.6060606060606061

Random Forest

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
rf = RandomForestClassifier(n_estimators=10,criterion='entropy')
rf.fit(xTrain,yTrain)
yPred = rf.predict(xTest)
cm = confusion_matrix(yTest,yPred)
print('accuracy %s' % accuracy_score(yTest, yPred))

accuracy 0.8131313131313131

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

SVM

In [13]:
#Linar
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score
svm_c = SVC(kernel='linear') 
svm_c.fit(xTrain,yTrain)
yPred = svm_c.predict(xTest)
cm = confusion_matrix(yTest,yPred)
print('accuracy %s' % accuracy_score(yTest, yPred))

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuracy 0.9949494949494949

In [14]:
#Sigmoid
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score
svm_c = SVC(kernel='sigmoid') 
svm_c.fit(xTrain,yTrain)
yPred = svm_c.predict(xTest)
cm = confusion_matrix(yTest,yPred)
print('accuracy %s' % accuracy_score(yTest, yPred))

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

accuracy 0.9090909090909091

After Running different Algorithms. I found that SVC Linear has the best accuracy

# Prediction

In [15]:
xPredicting = testDataset.iloc[:,1:].values

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xPredicting = sc.fit_transform(xPredicting)

In [17]:
#This will predict using the SVC Linear model that we decided to use 
from sklearn.svm import SVC
svm_c = SVC(kernel='linear') 
svm_c.fit(xTrain,yTrain)
yPred = svm_c.predict(xPredicting)

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
#Make predictions as dataframe and concat to test.csv file 
Predicitions = pd.DataFrame(yPred)
testDataset = pd.concat([testDataset,Predicitions],axis=1)

#Change the concatenated column name 
testDataset.rename({0:'Predicted_species'},axis=1,inplace=True)

In [19]:
testDataset.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,Predicted_species
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711,51
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922,50
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000,1
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789,19
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812,14

In [20]:
#Create a dicitonry that will help in predicitons 
trainDataset = pd.read_csv('train.csv')
trainDataset['species'] = trainDataset['species'].astype('category')
D_Species = dict(enumerate(trainDataset['species'].cat.categories))
D_Species

{0: 'Acer_Capillipes',
 1: 'Acer_Circinatum',
 2: 'Acer_Mono',
 3: 'Acer_Opalus',
 4: 'Acer_Palmatum',
 5: 'Acer_Pictum',
 6: 'Acer_Platanoids',
 7: 'Acer_Rubrum',
 8: 'Acer_Rufinerve',
 9: 'Acer_Saccharinum',
 10: 'Alnus_Cordata',
 11: 'Alnus_Maximowiczii',
 12: 'Alnus_Rubra',
 13: 'Alnus_Sieboldiana',
 14: 'Alnus_Viridis',
 15: 'Arundinaria_Simonii',
 16: 'Betula_Austrosinensis',
 17: 'Betula_Pendula',
 18: 'Callicarpa_Bodinieri',
 19: 'Castanea_Sativa',
 20: 'Celtis_Koraiensis',
 21: 'Cercis_Siliquastrum',
 22: 'Cornus_Chinensis',
 23: 'Cornus_Controversa',
 24: 'Cornus_Macrophylla',
 25: 'Cotinus_Coggygria',
 26: 'Crataegus_Monogyna',
 27: 'Cytisus_Battandieri',
 28: 'Eucalyptus_Glaucescens',
 29: 'Eucalyptus_Neglecta',
 30: 'Eucalyptus_Urnigera',
 31: 'Fagus_Sylvatica',
 32: 'Ginkgo_Biloba',
 33: 'Ilex_Aquifolium',
 34: 'Ilex_Cornuta',
 35: 'Liquidambar_Styraciflua',
 36: 'Liriodendron_Tulipifera',
 37: 'Lithocarpus_Cleistocarpus',
 38: 'Lithocarpus_Edulis',
 39: 'Magnolia_Heptapeta',
 40: 'Magnolia_Salicifolia',
 41: 'Morus_Nigra',
 42: 'Olea_Europaea',
 43: 'Phildelphus',
 44: 'Populus_Adenopoda',
 45: 'Populus_Grandidentata',
 46: 'Populus_Nigra',
 47: 'Prunus_Avium',
 48: 'Prunus_X_Shmittii',
 49: 'Pterocarya_Stenoptera',
 50: 'Quercus_Afares',
 51: 'Quercus_Agrifolia',
 52: 'Quercus_Alnifolia',
 53: 'Quercus_Brantii',
 54: 'Quercus_Canariensis',
 55: 'Quercus_Castaneifolia',
 56: 'Quercus_Cerris',
 57: 'Quercus_Chrysolepis',
 58: 'Quercus_Coccifera',
 59: 'Quercus_Coccinea',
 60: 'Quercus_Crassifolia',
 61: 'Quercus_Crassipes',
 62: 'Quercus_Dolicholepis',
 63: 'Quercus_Ellipsoidalis',
 64: 'Quercus_Greggii',
 65: 'Quercus_Hartwissiana',
 66: 'Quercus_Ilex',
 67: 'Quercus_Imbricaria',
 68: 'Quercus_Infectoria_sub',
 69: 'Quercus_Kewensis',
 70: 'Quercus_Nigra',
 71: 'Quercus_Palustris',
 72: 'Quercus_Phellos',
 73: 'Quercus_Phillyraeoides',
 74: 'Quercus_Pontica',
 75: 'Quercus_Pubescens',
 76: 'Quercus_Pyrenaica',
 77: 'Quercus_Rhysophylla',
 78: 'Quercus_Rubra',
 79: 'Quercus_Semecarpifolia',
 80: 'Quercus_Shumardii',
 81: 'Quercus_Suber',
 82: 'Quercus_Texana',
 83: 'Quercus_Trojana',
 84: 'Quercus_Variabilis',
 85: 'Quercus_Vulcanica',
 86: 'Quercus_x_Hispanica',
 87: 'Quercus_x_Turneri',
 88: 'Rhododendron_x_Russellianum',
 89: 'Salix_Fragilis',
 90: 'Salix_Intergra',
 91: 'Sorbus_Aria',
 92: 'Tilia_Oliveri',
 93: 'Tilia_Platyphyllos',
 94: 'Tilia_Tomentosa',
 95: 'Ulmus_Bergmanniana',
 96: 'Viburnum_Tinus',
 97: 'Viburnum_x_Rhytidophylloides',
 98: 'Zelkova_Serrata'}

In [21]:
#Now rename the cat.code to cat.value using the dictionaryt created earlier 
testDataset['Predicted_species'].replace(D_Species, inplace = True)

In [22]:
testDataset.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64,Predicted_species
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711,Quercus_Agrifolia
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922,Quercus_Afares
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000,Acer_Circinatum
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789,Castanea_Sativa
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812,Alnus_Viridis