In [1]:
import re

In [12]:
nameage = '''Jaince is 22 and Theon is 33 
Gabriel is 44 and Joey is 21'''

In [9]:
nameage

'Jaince Is 22 and Theon is 33 \nGabriel is 44 and Joey is 21'

In [4]:
ages = re.findall(r'\d{1,3}', nameage)

In [5]:
ages

['22', '33', '44', '21']

In [13]:
names = re.findall(r'[A-Z][a-z]*', nameage)

In [14]:
names

['Jaince', 'Theon', 'Gabriel', 'Joey']

In [15]:
agedict = {}
x = 0
for eachname in names:
    agedict[eachname] = ages[x]
    x=x+1
print(agedict)

{'Jaince': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '21'}

In [18]:
if re.search('inform', 'we need to rnform him with the latest rnformation'):
    print('There is inform avaiable')

In [19]:
str = 'we need to rnform him with the latest rnformation'

In [23]:
str = 'we need to inform him with the latest information'
for i in re.finditer('inform', str):
    loctup = i.span()
    print(loctup)

(11, 17)
(38, 44)

In [24]:
str = 'Sat , hat, mat, rat, pat'

In [26]:
re.findall('[Shmrp]at', str)

['Sat', 'hat', 'mat', 'rat', 'pat']

In [27]:
food = 'hat rat mat cat pat'

In [28]:
regex = re.compile('[r]at')

In [29]:
regex.sub('food', food)

'hat food mat cat pat'

In [35]:
import urllib.request
from re import findall
url = 'http://www.summet.com/dmsi/html/codesamples/addresses.html'
response = urllib.request.urlopen(url)
html = response.read()
htmlstr = html.decode()
pdata = findall("\(\d{3}\) \d{3}-\d{4}", htmlstr)
for item in pdata:
    print(item)

(257) 563-7401
(372) 587-2335
(786) 713-8616
(793) 151-6230
(492) 709-6392
(654) 393-5734
(404) 960-3807
(314) 244-6306
(947) 278-5929
(684) 579-1879
(389) 737-2852
(660) 663-4518
(608) 265-2215
(959) 119-8364
(468) 353-2641
(248) 675-4007
(939) 353-1107
(570) 873-7090
(302) 259-2375
(717) 450-4729
(453) 391-4650
(559) 104-5475
(387) 142-9434
(516) 745-4496
(326) 677-3419
(746) 679-2470
(455) 430-0989
(490) 936-4694
(985) 834-8285
(662) 661-1446
(802) 668-8240
(477) 768-9247
(791) 239-9057
(832) 109-0213
(837) 196-3274
(268) 442-2428
(850) 676-5117
(861) 546-5032
(176) 805-4108
(715) 912-6931
(993) 554-0563
(357) 616-5411
(121) 347-0086
(304) 506-6314
(425) 288-2332
(145) 987-4962
(187) 582-9707
(750) 558-3965
(492) 467-3131
(774) 914-2510
(888) 106-8550
(539) 567-3573
(693) 337-2849
(545) 604-9386
(221) 156-5026
(414) 876-0865
(932) 726-8645
(726) 710-9826
(622) 594-1662
(948) 600-8503
(605) 900-7508
(716) 977-5775
(368) 239-8275
(725) 342-0650
(711) 993-5187
(882) 399-5084
(287) 755-9948
(659) 551-3389
(275) 730-6868
(725) 757-4047
(314) 882-1496
(639) 360-7590
(168) 222-1592
(896) 303-1164
(203) 982-6130
(906) 217-1470
(614) 514-1269
(763) 409-5446
(836) 292-5324
(926) 709-3295
(963) 356-9268
(736) 522-8584
(410) 483-0352
(252) 204-1434
(874) 886-4174
(581) 379-7573
(983) 632-8597
(295) 983-3476
(873) 392-8802
(360) 669-3923
(840) 987-9449
(422) 517-6053
(126) 940-2753
(427) 930-5255
(689) 721-5145
(676) 334-2174
(437) 994-5270
(564) 908-6970
(577) 333-6244
(655) 840-6139

In [37]:
pd.DataFrame(pdata)

                 0
0   (257) 563-7401
1   (372) 587-2335
2   (786) 713-8616
3   (793) 151-6230
4   (492) 709-6392
5   (654) 393-5734
6   (404) 960-3807
7   (314) 244-6306
8   (947) 278-5929
9   (684) 579-1879
10  (389) 737-2852
11  (660) 663-4518
12  (608) 265-2215
13  (959) 119-8364
14  (468) 353-2641
15  (248) 675-4007
16  (939) 353-1107
17  (570) 873-7090
18  (302) 259-2375
19  (717) 450-4729
20  (453) 391-4650
21  (559) 104-5475
22  (387) 142-9434
23  (516) 745-4496
24  (326) 677-3419
25  (746) 679-2470
26  (455) 430-0989
27  (490) 936-4694
28  (985) 834-8285
29  (662) 661-1446
..             ...
70  (314) 882-1496
71  (639) 360-7590
72  (168) 222-1592
73  (896) 303-1164
74  (203) 982-6130
75  (906) 217-1470
76  (614) 514-1269
77  (763) 409-5446
78  (836) 292-5324
79  (926) 709-3295
80  (963) 356-9268
81  (736) 522-8584
82  (410) 483-0352
83  (252) 204-1434
84  (874) 886-4174
85  (581) 379-7573
86  (983) 632-8597
87  (295) 983-3476
88  (873) 392-8802
89  (360) 669-3923
90  (840) 987-9449
91  (422) 517-6053
92  (126) 940-2753
93  (427) 930-5255
94  (689) 721-5145
95  (676) 334-2174
96  (437) 994-5270
97  (564) 908-6970
98  (577) 333-6244
99  (655) 840-6139

[100 rows x 1 columns]